.toast
{
    background-color: #3399ff;
    color: #FFF;
    font-family: Poppins;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px 0 rgba( 0,0,0,.2 );
    border-radius: .5rem;
    margin-bottom: 15px;
    animation: hide-toast 1s 4s forwards;
}

.toast.toast-success
{
    background-color: #4caf50;
}

.toast.toast-error
{
    background-color: #d32f2f;
}

@keyframes hide-toast
{
    from { opacity: 1; pointer-events: none; }
    to { opacity: 0; pointer-events: none; }
}